@model SimpleCrm.Web.Models.CustomerModel
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Simple CRM</title>
</head>
<body>
    <h1>Customers</h1>
    <p>
        welcome to the customers page.
    </p>
    <table>
        <thead>
        <td>Customer Number</td>
        <td>Customer First Name</td>
        <td>Customer Last Name</td>
        <td>Customer Phone Number</td>
        </thead>
        <tbody>
            @foreach (var Customer in ICustomerData)
            {
                <tr>
                    <td>@Customer.Id</td>
                    <td>@Customer.FirstName</td>
                    <td>@Customer.LastName</td>
                    <td>@Customer.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>