@model HomePageViewModel
@{
    ViewBag.Title = "Customers";
}

<h1>Customers</h1>

<table>
    <thead>
        <tr>
            <td>Number</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Phone Number</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <partial name="Summary" model="customer" />
        }
    </tbody>
</table>

<a asp-action="Create" asp-controller="Home">Create</a>

