@model Customer
{
<html>
<head>
    <title>Summary</title>
</head>
<body>
    <div>
        <h1>Customers</h1>

        <section>
            <h2>@Model.FirstName</h2>
        </section>
    </div>
</body>
</html>
}

