@using SimpleCrm.Web.Models
@model HomePageViewModel
@{
    ViewBag.Title = "Home";
}
<div class="content">
    <h1>Customers</h1>
    <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fab-right" asp-action="Create">
        <i class="material-icons">add</i>
    </a>

    <div class="mdl-list">
        @foreach (var customer in Model.Customers)
        {
            <partial name="Summary" model="customer" />
        }
    </div>
</div>

<h1>Customers</h1>

<table>
    <thead>
        <tr>
            <td>Number</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Phone Number</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <partial name="Summary" model="customer" />

        }
    </tbody>
</table>
<div class="mdl-list">
    @foreach (var customer in Model.Customers)
    {
        <partial name="Summary" model="customer" />
    }
</div>

<a asp-action="Create" asp-controller="Home">Create</a>

